[user]
	email=ahmadxgani01@gmail.com
	name=ahmadxgani
	signingkey=ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDksus5M7O4ZNuihJSIB0mCU7Y9MK+cWqVdFMl2ckmpql3mmyDI3ges9euqbDuQKudIXao8lZI8iqhEkK1+J1acPWQLzBuaWuvYMpDHpOVdf+5uo/DwmG0O2HMfO8vuq3+TQKioOkhlqWdiScx9IbdzFr1UdW1iNT5PgGSIRFhseKah/ZBfjMcOxCkcic0C4Zn+Hdu1JV1Uak6Ttx04RpJ3rey0yCC2IeqtmzthQkKJPnq/bVziG5w9WHzCDjm1juO2pG8QVXh0tDMx1BwR58zOCFKwpbGKggo6dyTaIfrBooEvIRcTgwCvybZn2tCST+qT+t6x3jwF7Ni9EJnBHRnRt0Caw7mKC5oD1kdcRstiZn1k+rSpoIrHxuh71EyChzNZQx2it4MYw2iEURkUiEEOKhsPc+o4w0wRDfOyHjFdbNsig4pJpXr398JH8j1gwV5LUBWR+ZqrJ6l2tLal9YbWynmYFbs38Mjsb/uA4DL/oMZ27XlF0naxzaqvfoCVk3s= reyuki@weebs
